* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 2010px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.home {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  margin-bottom: 165px;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-right: 30px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.nav__title {
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;
  color: #ffffff;
  text-align: center;
}
.nav__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}
.nav__about{
  color: white;
  font-size: 30px;
  text-align: center;
}